a {
    text-decoration: none;
}

table {
    margin: 0 auto;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px 20px;
}

.edit-table {
    margin: 0;
}

.excess {
    color: orangered;
}

.no-excess {
    color: green;
}

.add-new-link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
}
